@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.btn-outline {
   @apply outline font-dm outline-1 text-primary-green outline-lime-700/30 px-6 py-4 rounded-2xl font-medium;
}

.btn-primary {
  @apply bg-primary-green font-dm px-6 py-4 rounded-2xl font-medium;
}

}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0e0c;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

